html {
  height: 100%;
  width: 100%;
  background-color: #b1ebfa;
}

body {
  width: 95%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ebe9ea;
}

nav p {
  color: grey;
}

input {
  height: 25px;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="button"] {
  height: 29px;
  width: 35px;
}

h2 {
  margin: 5px 0px;
}

h4 {
  margin-left: 5px;
  margin-bottom: 1px;
  margin-top: 7px;
}

#view {
  font-size: 14px;
  margin: 0px 5px;
}

#location {
  font-size: 20px;
  margin-left: 5px;
  line-height: 0px;
}

#about {
  margin-right: 200px;
}

#general {
  display: flex;
  justify-content: space-between;
}

#general p {
  margin: 2px;
}

#gen-right{
  width: 60%;
  font-size: 14px;
  margin-right: 80px;
  margin-bottom: 20px;
}

#search {
  display: flex;
}

#moreLinks {
  display: flex;
  margin-left: 5px;
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 5px;
}

#miniLinks {
  display:flex;
  padding: 2px;
  margin-right: -50px;
  margin-top: -8px;
  margin-bottom: 8px;
}

#share {
  margin-right: 10px;
  margin-bottom: -5px;
}

#gen-center-one {
  border-color: black;
  border-style: solid;
  background-color:  #d9d9d9;
  padding: 2px;
  margin: 10px;
}

.center-font {
  font-size: 20px;
  color: navy;
  margin-top: 2px;
}

.extendedtext{
  margin-bottom: 2px;
  font-weight: bold;
}

.dailynightlybox{
  width: 11.11%;
  margin-top: 0px;
  align-items: center;
  height: 11.11%;
}

.top{
  margin-top: 0px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.image{
  height: 40%;
  text-align: center;
  margin-top: 10px;
}

.weather{
  height: 50px;
  text-align: center;
  font-size: 15px;
}

.lowblue{
  height: 50px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: #00B2EE;
}
.lowred{
  height: 50px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: red;
}




#footersection{
  border-color: black;
  border-style: solid;
  padding: 0px;
  margin: 10px;
  background-color:  #d9d9d9;
}

#extendedforecastbar {
  background-color:  #d9d9d9;
  padding-left: 2px;
}

#extendedforecastpics{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-top: 0px;
  padding-top: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

}
