html {
  height: 100%;
  width: 100%;
  background-color: #b1ebfa;
}

body {
  width: 95%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ebe9ea;
}

nav p {
  color: grey;
}

input {
  height: 25px;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="button"] {
  height: 29px;
  width: 35px;
}

h2 {
  margin: 5px 0px;
}

h4 {
  margin-left: 5px;
  margin-bottom: 1px;
  margin-top: 7px;
}

#view {
  font-size: 14px;
  margin: 0px 5px;
}

#location {
  font-size: 20px;
  margin-left: 5px;
  line-height: 0px;
}

#about {
  margin-right: 200px;
}

#general {
  display: flex;
  justify-content: space-between;
}

#general p {
  margin: 2px;
}

#gen-right{
  width: 60%;
  font-size: 14px;
  margin-right: 80px;
  margin-bottom: 20px;
}

#search {
  display: flex;
}

#moreLinks {
  display: flex;
  margin-left: 5px;
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 5px;
}

#miniLinks {
  display:flex;
  padding: 2px;
  margin-right: -50px;
  margin-top: -8px;
  margin-bottom: 8px;
}

#share {
  margin-right: 10px;
  margin-bottom: -5px;
}

#smallBar {

}
